
/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Merienda:wght@400;700&family=Montserrat&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #2e294e;
  --secondary-color: #b1f8f2;

  --accent1-color: #fffc99;
  --accent2-color: #67794d;
  --accent3-color: #625555;

  /* change the values below to your chosen font(s) */
  --heading-font: 'Merienda', 'Courgette', cursive;
  --paragraph-font: 'Montserrat', sans-serif, arial;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color: #625555;  /* headlines on a white background */ 
  --headline-color-on-color: #b2e5e1; /* headlines on a colored background */ 
  --paragraph-color: #625555; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #f6f6f3; /* paragraph text on a colored background */ 
  --paragraph-background-color: #2e294e;
  --nav-link-color: #f6f6f3;
  --nav-background-color: #4f5d3a;
  --nav-hover-link-color: #1a1923;
  --nav-hover-background-color: #eafdcf;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color);
  }
  h2 {
    text-align: center;
  }
  hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
  }
  header {
    padding: 1em;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--paragraph-background-color);
  }
  header > h1, header > h2 {
    color: var(--headline-color-on-color);
  }
  
  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    padding: 1em;
  }
  .colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 20%;
    height: 3em;
  }
  
  .primary {
    background-color: var(--primary-color);
  }
  .secondary {
    background-color: var(--secondary-color);
  }
  .accent1 {
    background-color: var(--accent1-color);
  }
  .accent2{
    background-color: var(--accent2-color);
  }
  .accent3{
    background-color: var(--accent3-color);
  }
  
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }
  
  nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
  }
  nav  {
    list-style-type: none;
    display: flex;
  
  }
  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  
  }
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }
  
  .sitemap {
    display: grid;
    justify-content: center;
    padding-bottom: 25px;
    
  
    grid-template-columns: repeat(8, 12%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . . home home . . ."
      ". . . . top . . ."
      ". . left left right right . ."
      ". products products . . about_us about_us .";
  }
  .sitemap > div {
  
    text-align: center;
  
  }
  .sm-home {
    grid-area: home;
    background-color: #999;
    line-height: 3em;
  }
  .sm-products {
    grid-area: products;
    background-color: #999;
    line-height: 3em;
  }
  .sm-about_us {
    grid-area: about_us;
    background-color: #999;
    line-height: 3em;
  }
  .top {
    grid-area: top;
    border-left: 1px solid;
  }
  .left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
  }
  .right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
  }
  .sadie-img, .lrg-wristband {
    max-width: 900px;
    padding: 20px;
  }
  .product-img {
    max-width: 500px;
    padding: 20px;
  }
  .first-img, .now-img {
    max-width: 400px;
    padding: 20px;
  }
  .camping-img {
    max-width: 600px;
    padding: 20px;
  }
 .background-img {
    width: 900px;
    height: auto;
 }