@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Merienda:wght@400;700&family=Montserrat&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #eafdcf;
    color: #625555;
    font-family: 'Montserrat', 'Encode Sans Condensed', arial;
    font-size: 22px;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

header {
    width: 1600px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}
.header-background {
    grid-column: 1/15;
    grid-row: 1/4;
}
.background-img {
    box-sizing: border-box;
    max-width: 1600px;
    min-width: 100%;
    min-height: 100%;
}
.logo {
    opacity: .95;
    margin: 25px;
}
nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
nav a {
    color: #211a4f;
    background-color: #fffdc2;
    text-decoration: none;
    padding: 15px 25px;
    text-align: center;
    font-family: 'Merienda', Arial, sans-serif;
    font-size: 1em;
    font-weight: 800;
    border-radius: 15px;
}
nav a:hover {
    color: #fffdc2;
    background-color: #2e294e;
}

.logo {
    align-content: center;
    grid-column: 4/12;
    grid-row: 1/2;
}
header nav {
    grid-column: 3/13;
    grid-row: 2/3;
}
.intro h1 {
    font-family: sans-serif;
    color: #2e294e;
    font-size: 2.25em;
    margin-bottom: 0;
}

.intro-sub {
    margin-top: 5px;
    font-family: 'Merienda', 'san-serif';
    font-size: 1.5em;
    color: #b1f8f2;
    text-shadow: 0 0 4px #134542, 0 0 6px #b2e5e1;
}
.intro-grid {
    margin-top: 75px;
    box-sizing: border-box;
    max-width: 1600px;
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 50px 3fr 1fr 2fr 3fr 50px;
}
.intro-img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    grid-column: 2/5;
    grid-row: 1/8;
    border: 3px solid #2e294e;
    box-shadow: 10px 10px 10px #625555;
}
.intro-msg {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    grid-column: 4/6;
    grid-row: 2/7;
    background-color: #fffdc2;
    border: 4px ridge #625555;
    box-shadow: 10px 10px 10px #4f4e3c;
    padding: 25px;
    letter-spacing: .5px;
    font-weight: 600;
}
.title {
    margin-top: -5px;
    color: #2e294e;
    font-family: 'Merienda', sans-serif;

}
.intro-msg p {
    text-align: left;
}
.description {
    border: 2px solid black;
    max-width: 1600px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.desc-img {
    box-sizing: border-box;
    grid-column: 1/4;
    grid-row: 1/6;
    width: 100%;
    height: 100%;
}
.home-list {
    box-sizing: border-box;
    margin: auto;
    text-align: left;
    background-color: rgb(65, 64, 64); opacity:.95;
    grid-column: 1/4;
    grid-row: 1/6;
    font-family: sans-serif;
    font-size: 36px;
    color: #b1f8f2;
    padding: 25px 100px 25px 80px;
    line-height: 1.5em;
    border-radius: 15px;
    text-shadow: 0 0 4px #134542, 0 0 6px #b2e5e1;
}

footer {
    background-color: #1b2328;
    color: #f6f6f3;
    padding: 25px 50px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: #f6f6f3;
    font-size: 1.2em;
}
footer a {
    color: #f6f6f3;
    text-decoration: none;
}
footer a:hover {
    color: #de943f;
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}

/* products page begin */

.products-img {
    max-width: 1600px;
    height: auto;
    margin-top: 50px;
}
.collar-img, .wristband-img, .keychain-img {
    width: 400px;
}
.christian-img {
    width: 800px;
}
.bio-img {
    width: 400px;
}