@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Merienda:wght@400;700&family=Montserrat&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #2e294e;
    color: #f6f6f3;
    font-family: 'Montserrat', 'Encode Sans Condensed', arial;
    font-size: 22px;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

header {
    max-width: 1600px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}
.header-background {
    grid-column: 1/15;
    grid-row: 1/4;
}
.background-img {
    border: 3px solid #221e1e;
    box-sizing: border-box;
    max-width: 1600px;
    width: 100%;
    height: 100%;
}
.logo {
    width: 100%;
    opacity: .95;
    margin: 25px;
}
nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
nav a {
    color: #f6f6f3;
    background-color: #67794d;
    text-decoration: none;
    padding: 15px 25px;
    text-align: center;
    font-family: 'Merienda', Arial, sans-serif;
    font-size: 1em;
    font-weight: 800;
    border-radius: 15px;
}
nav a:hover {
    color: #1a1923;
    background-color: #f6f6f3;
}

.logo {
    align-content: center;
    grid-column: 4/12;
    grid-row: 1/2;
}
header nav {
    grid-column: 3/13;
    grid-row: 2/3;
}
.intro h1 {
    width: 100%;
    font-family: 'Merienda', 'san-serif';
    font-size: 2em;
    margin-bottom: 0;
    color: #b1f8f2;
    text-shadow: 0 0 4px #134542, 0 0 6px #b2e5e1;
}
.intro-sub {
    margin-top: 5px;
    margin-bottom: 0;
    font-family: 'Montserrat', 'san-serif';
    color: #f6f6f3;
    text-shadow: 0 0 4px #134542, 0 0 6px #b2e5e1;
}
.intro-msg {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 25px 150px 10px 150px;
    letter-spacing: .5px;
    
}
.title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Merienda', sans-serif;
    font-size: 1.5em;
    padding-top: 35px;
    color: #b1f8f2;
    text-shadow: 0 0 4px #134542, 0 0 6px #b2e5e1;
}
.intro-msg p {
    
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.description {
    box-sizing: border-box;
    max-width: 1600px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.desc-img {
    border: 3px solid #221e1e;
    box-sizing: border-box;
    grid-column: 1/4;
    grid-row: 1/6;
    width: 100%;
    height: 100%;
}
.home-list {
    margin: auto;
    width: 100%;
    height: auto;
    text-align: left;
    grid-column: 1/4;
    grid-row: 1/4;
    font-family: 'Merienda', sans-serif;
    font-size: 1.25em;
    padding-left: 50px;
    padding-top: 5px;
    line-height: 2em;
    border-radius: 15px;
    color: #f6f6f3;
    text-shadow: 0 0 4px #303b21, 0 0 6px #def0c5;
}

footer {
    background-color: #1b1a1c;
    color: #f6f6f3;
    padding: 25px 50px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: #f6f6f3;
    font-size: 1.2em;
}
footer a {
    color: #f6f6f3;
    text-decoration: none;
}
footer a:hover {
    color: #de943f;
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}

/* products page begin */

.products h1 {
    text-shadow: 0 0 4px #134542, 0 0 6px #b2e5e1;
}
.collar-img, .wristband-img, .keychain-img {
    width: 400px;
}
#card-grid {
    display: grid;
    grid-template-columns: 5% 1fr 5% 1fr 5% 1fr 5%;
    margin-top: 50px;
}
.collar-card {
    grid-column: 2/3;
}
.wristband-card {
    grid-column: 4/5;
}
.key-card {
    grid-column: 6/7;
}
.collar-card, .wristband-card, .key-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #625555;
  }
  
  .price {
    color: #bebdbf;
    font-size: 22px;
    font-weight: 700;
  }
  
  .collar-card button, .wristband-card button, .key-card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #1c1c1f;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .collar-card button:hover, .wristband-card button:hover, .key-card button:hover {
    opacity: 0.7;
  }

   .overlay[hidden] {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
  .overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    max-width: 1600px;
  }
  .order-form {
    grid-column: 4/5;
    grid-row: 11/12;
  }
    .order-form button {    
    color: #f6f6f3;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
    margin: .5em;
    cursor: pointer;
    border: 1px solid #999;
    box-shadow: 2px 2px 2px #999;
    background-color: #67794d;
  }
  .order-form button:hover {
    background-color: #f6f6f3;
    color: #625555;
    border: 5px double #808080;
    
  }
  .order-form button:active{
    background-color: #b1f8f2;
    color: #625555;
    border: 5px inset #000;
    box-shadow: none;
  }

.form label {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #1a1923;
}
input[type=text], textarea {
    font-family: sans-serif;
    font-size: 18px;
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical
    
  }
  
  input[type=submit] {
    font-family: sans-serif;
    font-size: 20px;
    background-color: #67794d;
    color: #f6f6f3;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #c9d1be;
    color: #625555;
    border: 5px double #808080;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    max-width: 1600px;
    width: 500px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: block;
    color: #1a1923;
  }    

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width: 900px) {
    #card-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    .header-background {
      display: none;
    }
    .logo {
      margin: auto;
    }
    nav a {
        display: block;
        padding: 15px;
        margin: 25px;
    }
   .modal-content {
    width: 80%;
   }

   .overlay img {
    width: 100%;
   }
   #overlay-collar img {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
   }
   #overlay-wrist img {
    top: 83%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
   }
   #overlay-key img {
    top: 117%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
   }
   .home-list {
    font-size: 1em;
   }
   .intro h1 {
    font-size: 1.25em;
   }
   .intro-sub {
    font-size: .75em;
   }
   .intro-msg {
    font-size: .75em;
   }
   .products p {
    font-size: .90em;
   }
}
  


  /* Start of About Us Page */